<style>
  <style>
    /* CSS untuk tampilan navbar dengan latar belakang coklat */
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f4f4f4; /* Warna latar belakang keseluruhan */
    }

    nav {
      background-color: #8B4513; /* Warna coklat pada navbar */
      color: #fff; /* Warna teks putih pada navbar */
      text-align: center;
      padding: 10px;
    }

    nav a {
      text-decoration: none;
      color: #fff;
      margin: 10px;
      font-size: 16px;
    }

    nav a:hover {
      text-decoration: underline;
    }

    .center {
      text-align: center;
    }

    /* CSS untuk judul dan nama dengan warna coklat tua */
    .title {
      color: #654321; /* Warna coklat tua untuk judul */
    }

    .name {
      color: #654321; /* Warna coklat tua untuk nama */
    }

    /* CSS untuk modul dengan latar belakang warna krim */
    ul {
      list-style-type: none;
      padding: 0;
    }

    li {
      background-color: #fffafa; /* Warna krim untuk elemen modul */
      padding: 15px;
      margin: 5px 0;
    }

    /* CSS untuk elemen yang dapat diklik */
    a.clickable {
      text-decoration: none;
      color: #000; /* Warna teks hitam */
    }

    a.clickable:hover {
      text-decoration: underline;
    }

    


    
  </style>